<div class="container" *ngIf="buyersList$ | async as buyersList; else loading">
  <table>
    <tbody>
    <ng-container *ngFor="let buyer of buyersList">
      <tr>
        <td>{{ buyer.name }}</td>
        <td><img class="avatar" [src]="buyer.avatar"></td>
        <td>
          <button class="addBtn" [appFocus]="buyer.id===focusId" (focusout)="focusId=undefined" id="add-{{buyer.id}}"
                  (click)="addToCart(buyer)">+
          </button>
          {{ howManyInCart(buyer) }}
          <button #deleteBtn (click)="removeFromCart(buyer)" [disabled]="!isPresentInCart(buyer)">-</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="cart">Cart: {{ totalItemsInCart() }}</div>
</div>
<ng-template #loading>Loading...</ng-template>
