<label>Select US State</label>
<select (ngModelChange)="selectedUSState$.set($event)" [ngModel]="selectedUSState$()">
  <option  [value]="null">
    <em>{{ usStates$().length > 0 ? 'Select a state' : 'Loading States...' }}</em>
  </option>
  <ng-container *ngIf="usStates$().length>0">
    <option *ngFor="let usState of usStates$()" [value]="usState">
      {{ usState }}
    </option>
  </ng-container>
</select>
<br />
{{ usStates$() | json }}<br />
{{ selectedUSState$() | json }}<br />
<br />
<label>Select Store</label>
<select (ngModelChange)="selectedStore$.set($event)" [ngModel]="selectedStore$()">
  <option
          [value]="null">
    <em>{{ selectedUSState$() ? (storesInSelectedState$().length > 0 ? 'Select Store' : 'Loading Stores...') : 'Select a State before Store' }}</em>
  </option>
  <ng-container *ngIf="storesInSelectedState$().length>0">
    <option *ngFor="let store of storesInSelectedState$()" [value]="store">
      {{ store }}
    </option>
  </ng-container>
</select>
<br />
{{ storesInSelectedState$()  | json }}<br />
{{ selectedStore$()  | json }}<br />
<br />
<label>Select Department</label>
<select (ngModelChange)="selectedDepartment$.set($event)" [ngModel]="selectedDepartment$()">
  <option
          [value]="null">
    <em>{{ selectedStore$() ? (departmentsInStore$().length > 0 ? 'Select Department' : 'Loading Departments...') : 'Select Store Before Department' }}</em>
  </option>
  <ng-container *ngIf="departmentsInStore$().length>0">
    <option
      *ngFor="let department of departmentsInStore$()"
      [value]="department">
      {{ department }}
    </option>
  </ng-container>
</select>
<br />
<div>{{ selectedDepartment$()  | json }}</div>
<div>{{ departmentsInStore$()  | json }}</div>
<br />
{{ products$() | json }}
