/* You can add global styles to this file, and also import other style files */
//@import "@picocss/pico/css/pico.min.css";
//@import "@picocss/pico/css/themes/default.css";

html, body { height: 100%; }
body { margin: 5px; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  margin: 2px 0;
  &:focus {
    outline: #cf06cf solid 3px;
  }
}
